APP_NAME="Sistema de Calificaciones"
APP_ENV=testing
APP_KEY=base64:Dqp11/2dRO5iX6iReNDMeE7o6Yd1KKKNp6WvImON/MI=
APP_DEBUG=true
APP_TIMEZONE=America/Guayaquil
APP_URL=http://localhost

SEED_DEMO_DATA=true

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=sistema_calificaciones_test
DB_USERNAME=root
DB_PASSWORD=
